.container__p-0{
    padding: 0px 0px;
}

.about__content {
    display: flex;
}


.about__left-content {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    padding: 72px 100px 54px 84px;
    
} 

.about__right {
    flex: 0 1 50%;
}

.about__left-content-top {
    max-width: 536px;
    flex-grow: 1;
}

.about__left-content-top>*:not(:last-child) {
    margin-bottom: 25px;
}

.about__heading {
    font-family: 'Clash-Display';
    font-weight: 400;
    font-size: 24px;
    color: var(--mainColor);
    line-height: 140%;
}

.about__text {
    font-family: 'Satoshi';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--mainColor);
}

.about__right-content {
    flex: 0 1 50%;
}

.about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__button {
    align-self: flex-start;
}