.hero-section {
    padding: 60px 0px;
}



.hero-section__left {
    display: flex;
    flex-direction: column;
    background: var(--heroBgColor);
    height: 100%;
    /* flex: 0 1 58.46%; */
    padding: 60px 0px 60px 60px;

    flex-wrap: nowrap;

}

.hero-section__left-top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero-section__left-bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 100%;
    gap: 32px;
    justify-content: space-between;
}

.hero-section__title {
    font-family: 'Clash-Display';
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    color: #fff;
    margin-bottom: 41px;
    text-shadow: 0px 4px 4px #000000;
}

.hero-section__button {
    padding: 16px 32px;
    background: rgba(249, 249, 249, 0.15);
    font-family: 'Satoshi';
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 150%;
}

.hero-section__text {
    font-family: 'Satoshi';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    max-width: 602px;
}


.hero-section__img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}