.product__amount {
    display: flex;
    justify-content: space-between;
}

.product .amount__stepper {
    display: flex;
    align-items: center;
    gap: 22px;
    background-color: #f9f9f9;
}

@media (max-width: 575px) {
    .product .amount__stepper {
        min-height: 80px;
        gap: 0px;
        justify-content: center;
    }
}

.product .amount__title {
    font-family: "Clash-Display";
    font-size: 16px;
    line-height: 100%;
    color: var(--mainColor);
    align-self: center;
}

@media (max-width: 575px) {
    .product .amount__title {
        align-self: flex-start;
    }
}

.product .stepper__button {
    font-family: "Satoshi";
    font-size: 16px;
    line-height: 100%;
    color: var(--mainColor);
}

.product .stepper__display {
    display: flex;
    gap: 33px;
}