.product__wrapper {
    display: flex;
    gap: 62px;
}

@media (max-width: 972px) {
    .product__wrapper {
        flex-direction: column;
        gap: 0px;
    }
}

.product__image {
    flex: 0 1 50%;
}

.product__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 972px) {
    .product__image img {
        height: 450px;
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 672px) {
    .product__image {
        margin: 0px -15px;
    }

    .product__image img {
        height: 100%;
    }
}

.product__content {
    padding: 40px 40px 32px 40px;
    flex: 0 1 50%;
}

@media (max-width: 672px) {
    .product__content {
        padding: 28px 24px 46px 24px;
    }
}